
#dogDiv {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.loader-container {
  position: relative;
  height: 300px;
  width: 300px;
  /* margin: 100px auto 0; */
}
.loader-container svg{
  position: absolute;
}

.loader-dog {
  left:11px;
  bottom: 11px;
  width: 186px;
  height:auto;
}
.svg-loader {
  margin: 100px auto 0;
  width: 300px;
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ SM ]*/
@media (max-width: 576px) {
  .loader-container {width: 250px; height: 250px;}
  
}


/*//////////////////////////////////////////////////////////////////
[ SSM ]*/
@media (max-width: 480px) {
  .loader-container {width: 150px; height: 150px;}
  /*---------------------------------------------*/

}